<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BussOn</title>
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
	<link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>
  </head>
  <body>
	
		
	<div class="row" id="main-row">
	  
	  
	  <div class="large-3 medium-3 columns" id="left-side-bar">
		{% if rutas %}
		<select>
			{% for ruta in rutas %}
			<option value="{{ruta}}">{{ruta}}</option>
			<option value="saab">Ruta B</option>
			<option value="mercedes">Ruta C</option>
    		<option value="audi">Ruta D</option>
			{% endfor %}
		</select>
		{% endif %}
	  	
		
	  </div>
	  <div class="large-9 medium-9 columns" id="main-content">
		
	  		
		<div class="row">
		  
		  <div class="large-12 columns">
			<div class="m-content"> 
			  
			</div>
          </div> 
		 
		  
		</div>
		
	  </div>
	
	  
	</div>

	<div class="row" id="foot">
	  <div class="large-2 columns">
		
	 
	  
      </div>
	</div>
	
    
	
	

    
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
